html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  color: #333;
  font-family: -apple-system, PingFang SC, Hiragino Sans GB, Arial, Microsoft YaHei, Helvetica Neue, sans-serif;
  text-rendering: optimizeLegibility;
  background-color: #fff;
}

.text-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
#app {
  width: 100%;
  height: 100%;
}
.app {
  width: 100%;
  height: 100%;
}

.app-container {
  flex: 1;
}
