.medium-editor-element {
  outline: none;
  height: 400px;
  padding: 10px;
  overflow-y: scroll;
}

.newnote-container {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: #fff;
  z-index: 1;
}