.note-container {
  width: 290px;
  box-sizing: border-box;
  border: 1px solid #f4f4f4;
  overflow-y: scroll;
  &-toolbar {
    height: 50px;
    text-align: center;
  }
  &__list {
    border-top: 1px solid #f4f4f4;
  }
}

.note-detail {
  flex: 1;
}

.noteview-item {
  height: 90px;
  padding: 10px 16px;
  font-size: 14px;
  color: #333;
  border-bottom: 1px solid #f4f4f4;
  cursor: pointer;
  box-sizing: border-box;
  position: relative;
  &:hover {
    background-color: #40BC6C;
  }
  &:hover &-title, &:hover &-content {
    color: #fff;
  }
  &:hover &-toolbar {
    display: block;
  }
  &-title {
    font-size: 16px;
    margin-bottom: 8px;
    color: #333;
  }
  &-content {
    font-size: 14px;
    color: #999;
    //.text-overflow();
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
  &-toolbar {
    display: none;
    position: absolute;
    top: 9px;
    right: 10px;
    color: #fff;
  }
}

.editor {
  padding-left: 20px;
}

.editor-input {
  &__title {
    display: block;
    width: 100%;
    font-size: 28px;
    box-sizing: border-box;
    border: none;
    outline: none;
    padding: 8px 10px;
    margin: 20px 0 10px;
  }
  &__content {
    display: block;
    width: 100%;
    height: 400px;
    padding: 8px 10px;
    font-size: 14px;
    box-sizing: border-box;
    border: none;
    outline: none;
    resize: none;
  }
}

//.editor-toolbar {
//  padding: 4px !important;
//
//  &:after, &:before {
//    margin: 0 !important;
//    height: 0 !important;
//  }
//}
