.app-header {
  display: flex;
  width: 60px;
  height: 100%;
  box-sizing: border-box;
  border-right: 1px solid #f4f4f4;
  //position: absolute;
  //left: 0;
  //top: 0;

}
.header-toolbar {
  &-image{
    width: 48px;
    height: 48px;
    border-radius: 50%;
  }
}