.note-container {
  width: 260px;
  box-sizing: border-box;
  border: 1px solid #f4f4f4;
}

.note-detail {
  flex: 1;
}

.noteview-item {
  padding: 14px;
  font-size: 14px;
  color: #333;
  border-bottom: 1px solid #f4f4f4;
  cursor: pointer;
  &:hover {
    background-color: #40BC6C;
    color: #fff;
  }
  &-title {
    //font-weight:bolder;
    //font-size: 16px;
  }
}

.editor-input {
  &__title {
    display: block;
    width: 100%;
    font-size: 28px;
    box-sizing: border-box;
    border: none;
    outline: none;
    padding: 8px 10px;
  }
  &__content {
    display: block;
    width: 100%;
    height: 400px;
    padding: 8px 10px;
    font-size: 14px;
    box-sizing: border-box;
    border: none;
    outline: none;
    resize: none;
  }
}
